db/production.sqlite3 
db/development.sqlite3
._*
log/*
tmp/**/*
db/fixtures/
db/fixtures_orig/
config/environments/
config/development.rb
config/production.rb
config/test.rb
db/production.sqlite3
db/test.sqlite3
db/development.sqlite3

