<h1>Registration Instructions</h1>
<p>Welcome to the new Taras Shevchenko School of Ukrainian Studies registrations web site. If you registered online last year, your account and all the relevant data have been moved to the new site. Log in using the account name or primary account email address that you entered last year. You will also need the password that you created last year. If you forgot your password click on the "reset password" link, and a new password will be generated and emailed to the address that you entered last year. If you never registered online last year, you will need to create a new account.
</p>
<p>The first page you will see when you log in is the summary of your account. You can return to this page at any time by clicking on the "Show My Account" link on the menu.
</p>
<p>The first section of the summary shows the information that was entered when creating the account.
</p>
<p>The next section shows all the students that you have entered. Please add all your children that you are registering for either Ukrainian school or svitlychka into the system. Make sure that you update the "New Grade" field to reflect the grade that you child will be entering this fall. 
</p>
<p> We have added a class of Ukrainian Language for Adults. You can register for this class online but you will have to enter the adult as a student under the family account. If you are registering for the adult class and do not have any children registered then you will have to create a family account, add yourself as the parent and then add yourself as a student. You can leave the birthdate for yourself with the defualt value that is the current date. Adult registrations will eventually be reprogrammed in a better way.
	</p>
<p> The billing section will show how much tuition you owe for the <%=AdminController::SchoolYear%> school year. As you make payments, all processed checks will be shown and the system will update the amount you owe. 
</p>
<p>
Please enter information for at least one parent and at least one emergency point of contact.
</p>
<p>If you reset your password check your junk mail to see if the email wound up there.
</p>
<%= link_to 'Login Page', :controller => 'admin' %>
