<h1>Registration Instructions</h1>
<p>Welcome to the new Taras Shevchenko School of Ukrainian Studies registrations web site. If you registered online last year, your account and all the relevant data have been moved to the new site. Log in using the account name or primary account email address that you entered last year. You will also need the password that you created last year. If you forgot your password click on the "reset password" link, and a new password will be generated and emailed to the address that you entered last year. If you never registered online last year, you will need to create a new account.
</p>
<p>The first page you will see when you log in is the summary of your account. You can return to this page at any time by clicking on the "Show My Account" link on the menu.
</p>
<p>The first section of the summary shows the information that was entered when creating the account.
</p>
<p>The next section shows all the children that you have entered. Please add all your children that you are registering for either Ukrainian school or svitlychka into the system. Make sure that you update the "New Grade" field to reflect the grade that you child will be entering this fall. 
</p>
<p> The billing section will show how much tuition you owe for the 2009-2010 school year. As you make payments, all processed checks will be shown and the system will update the amount you owe. 
</p>
<p>
Please enter information for at least one parent and at least one emergency point of contact.
</p>
<%= link_to 'Login Page', :controller => 'admin' %>
