<p>
  <b>Userid:</b>
  <%=h @check.userid %>
</p>

<p>
  <b>Checknumber:</b>
  <%=h @check.checknumber %>
</p>

<p>
  <b>Amount:</b>
  <%=h @check.amount %>
</p>
<p>
  <b>Check date:</b>
  <%=h @check.updated_on %>
</p>


